
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>You are all Powerful!</h1>

      <table id="platform-admin-stores" class="table table-striped table-hover well">
        <thead>
        <tr>
          <th>Store</th>
          <th>Tagline</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% @stores.each do |store| %>
          <tr id=<%= store.slug %>>
            <td><%= link_to store.name, admin_store_path(store.slug) %></td>
            <td><%= link_to store.tagline, admin_store_path(store.slug) %></td>
            <td>
              <%= form_for ["admin", store], url: admin_store_path(store.slug) do |f| %>
                <%= f.check_box :active, class: "activate-store-button" %>
                </td>
                <td>
                <%= f.submit "Update", class: "btn btn-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>


