<div class="container">
  <%= render partial: "layouts/page_title", locals: { page_title: @photo.title } %>

  <div class="row item-show">
    <div class="col-md-3 item-info">
        <p>
          <%= @photo.description %>
        </p>
        <h4><%= number_to_currency(@photo.standard_price_dollars) %></h4>
        <%= button_to "Add to Cart", cart_items_path(photo_id: @photo.id), class: "btn btn-primary" %>
    </div>

    <div class="col-md-9">

      <div class="thumbnail">
        <%= image_tag @photo.file_location, class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>
