<div class="container">
  <%= render partial: "layouts/page_title", locals: { page_title: @photo.title } %>

  <div class="row item-show">
    <div class="col-md-3 item-info">
        <p>
          <%= @photo.description %>
        </p>
        <h4><%= dollars(@photo.standard_price) %></h4>
        <%= button_to "Add to Cart", cart_items_path(photo_id: @photo.id), class: "btn btn-primary" %>
        <%= link_to "Back to Store", store_photos_path(@photo.store.slug), class: "btn btn-primary" %>
    </div>

    <div class="col-md-9">
      <div class="">
        <%= cl_image_tag(@photo.file,
                         :transformation => {:height => 500, :crop => :fill},
                         :overlay => @photo.store.watermark_accessor,
                         :gravity => :south_east, :x => 10, :y => 10) %>
      </div>
    </div>
  </div>
</div>
