<tr>
  <td><%= link_to image_tag(admin_photo.file_location(:thumbnail), alt: "A picture", class: "admin_image"), store_photo_path(admin_photo.store.slug,admin_photo) %>
  <td><%= link_to admin_photo.title, store_photo_path(admin_photo.store.slug, admin_photo) %></td>
  <td><%= admin_photo.shortened_description %></td>
  <td><%= dollars(admin_photo.standard_price) %></td>
  <td><%= dollars(admin_photo.commercial_price) %></td>
  <td><%= link_to "Edit", edit_store_photo_path(@store.slug, admin_photo), method: :get, class: "btn btn-primary btn-sm inline" %>
  <%= link_to "Delete", store_photo_path(@store.slug, admin_photo), method: :delete, class: "btn btn-primary btn-sm inline" %>
  </td>
</tr>
