
<div class="row">
  <%= form_for [:admin, @store], html: {class: "edit-store"} do |f| %>
    <div class="col-md-1 edit-store-label">
      <%= f.label :name %><br><br>
      <%= f.label :tagline %>
    </div>
    <div class="col-md-5 edit-store-input">
      <%= f.text_field :name, class: "form-control", placeholder: @store.name %>
      <%= f.hidden_field :id, value: @store.id %>
      <br>
      <%= f.text_field :tagline, class: "form-control", placeholder: @store.tagline %>
      <br>
      <%= f.submit "Update Info", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="col-md-6">

    <%= form_for [:admin, @photo], url: store_photos_path(@store.slug), html: {class: "edit-store"} do |f| %>

      <div class="form-group">
        <%= f.label "Watermark", class: "edit-store-label" %><br>
        <%= f.file_field :file, class: "form-control" %>
        <%= f.hidden_field :file_cache %>
      </div>

      <%= f.hidden_field :store_id, value: @store.id %>
      <%= f.hidden_field :watermark, value: true %>

      <%= f.submit "Add Watermark", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
