<div class="col-sm-4 col-lg-4 col-md-4 item-box">
  <div class="thumbnail">
    <%= link_to image_tag(photo.file_location, alt: "A picture", class: "item-image"), store_photo_path(photo.store, photo) %>
    <div class="caption">
      <h4 class="pull-right"><%= dollars(photo.standard_price) %></h4>
      <h4><%= link_to photo.title, store_photo_path(photo.store, photo) %></h4>

      <p><%= photo.description %></p>
    </div>
    <p>
      <%= button_to "Add to Cart", cart_items_path(photo_id: photo.id), method: :post, class: "btn btn-primary btn-large center-block" %>
    </p>
  </div>
</div>
